.button {
  display: block;
  vertical-align: middle;
  width: 280px;
  min-height: 58px;
  font-size: 21px;
  line-height: 26px;
  color: $white;
  font-weight: bold;
  background-color: $main-blue;
  margin: 0 auto;
  padding-top: 15px;
  border: none;
}
