.container {
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
