.copyright {
  width: 146px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  padding: 0 0 20px 8px;
  margin: 0 auto;
  text-align: left;
}

.copyright__info {
  margin-right: 7px;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 40px;
  background-image: url("../img/htmlacademy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
