.form-chbx {
  margin: 0;
  padding: 0;
  width: 280px;
  min-height: 58px;
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .form-chbx {
    width: 324px;
    margin-bottom: 31px;
  }
}

@media (min-width: $tablet-width) {
  .form-chbx--bridge {
    padding-left: 96px;
  }
}

@media (min-width: $tablet-width) {
  .form-chbx--park {
    order: 3;
    padding-left: 96px;
  }
}

@media (min-width: $tablet-width) {
  .form-chbx--bell {
    order: 2;
    padding-left: 31px;
  }
}


@media (min-width: $tablet-width) {
  .form-chbx--rocks {
    order: 4;
    padding-left: 31px;
  }
}

@media (min-width: $desktop-width) {
  .form-chbx {
    width: auto;
    padding-left: 0;
  }
}

.form-chbx__label {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  padding-left: 79px;

  &::before {
    position: absolute;
    content: "";
    width: 55px;
    height: 55px;
    background-color: #f2f2f2;
    top: -14px;
    left: 1px;
    border-radius: 10%;
  }

  &:hover::before {
    background-color: #e5e5e5;
  }

  &:active::before {
    background-color: #d5d5d5;
  }
}

.form-chbx__input:focus + .form-chbx__label::before {
  background-color: #e5e5e5;
}

.form-chbx__input:checked ~ .form-chbx__label::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: transparent;
  top: -1px;
  left: 14px;
  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form-chbx__input:checked ~ .form-chbx__label:active::after {
  background-image: url("../img/icon-tick-gray.svg");
}
