.form-contact {
  margin-bottom: 12px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .form-contact {
    width: 100%;
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .form-contact {
    width: 480px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.form-contact__label {
  display: block;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  margin-left: 22px;
  margin-bottom: 6px;
}

@media (min-width: $desktop-width) {
  .form-contact__label {
    margin-left: 0;
    margin-right: 17px;
  }
}

@media (min-width: $desktop-width) {
  .form-contact__hiding-phone {
    display: none;
  }
}

.form-contact__input {
  border: none;
  background-color: #f2f2f2;
  min-height: 58px;
  min-width: 50px;
  font-family: $page-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  padding-left: 20px;
  flex-grow: 1;

  &:hover {
    outline: none;
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    outline: none;
    background-color: $white;
    border: 3px solid #e5e5e5;
    padding-left: 17px;
  }
}

.form-contact__input-container {
  width: 280px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .form-contact__input-container {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .form-contact__input-container {
    width: 315px;
  }
}

.form-contact__logo {
  display: inline-block;
  width: 58px;
  height: 58px;
  padding-right: 50px;
  background-color: #e6e6e6;
  background-position: center;
  background-repeat: no-repeat;
}

.form-contact__logo--phone {
  background-image: url("../img/icon-phone.svg");
}

.form-contact__logo--env {
  background-image: url("../img/icon-mail.svg");
}
