.offer {
  font-family: $page-font;
  text-transform: uppercase;
  text-align: center;
}

.offer__question {
  display: block;
  margin: 0 0 20px 0;
  padding: 26px 0 0 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .offer__question {
    font-size: 30px;
    padding: 56px 0 0 0;
    margin: 0 0 31px 0;
  }
}

.offer__description {
  width: 270px;
  margin: 0 auto 35px auto;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .offer__description {
    width: 450px;
    margin: 0 auto 42px auto;
  }
}

@media (min-width: $desktop-width) {
  .offer__description {
    margin: 0 auto 47px auto;
  }
}

.offer__br {
  display: none;
}

@media (min-width: $tablet-width) {
  .offer__br {
    display: inline;
  }
}

.offer__wrapper {
  min-height: 286px;
}

@media (min-width: $tablet-width) {
  .offer__wrapper {
    min-height: 318px;
  }
}

@media (min-width: $desktop-width) {
  .offer__wrapper {
    min-height: 331px;
  }
}

@media (min-width: $tablet-width) {
  .offer__open-search {
    width: 458px;
  }
}
