.page-footer {
  text-transform: uppercase;
  color: #000000;
  font-family: $page-font, "Tahoma", sans-serif;
  text-align: center;
}

.page-footer__hash-wrapper {
  margin: 0 0 37px 0;
  padding: 35px 0 0 0;
}

.page-footer__hash {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
