.site-list {
  @include list-reset;
}

.site-list__item {
  background-color: $main-blue;
  min-height: 55px;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  a {
    display: block;
    vertical-align: middle;
    font-family: $page-font;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    padding: 7px 0;
  }

  &:last-of-type {
    box-shadow: inset 0 -10px 18px -20px #000000;
  }
}
