.social {
  @include list-reset;
  margin: 0 auto 37px auto;
  display: flex;
  flex-direction: row;
  width: 152px;
}

@media (min-width: $tablet-width) {
  .social {
    margin: 0 0 0 111px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin: 0 0 0 256px;
  }
}

.social__item {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: $main-blue;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  position: relative;
  display: block;
  vertical-align: middle;
  width: 46px;
  height: 48px;
}

.social__link-svg {
  position: absolute;
  top: 17px;
  left: 14px;
}

.social__link:active .social__link-svg {
  fill: #88b6d1;
}

.social__link-svg--fb {
  top: 14px;
  left: 19px;
}

.social__link-svg--yt {
  left: 13px;
}
