.video {
  text-transform: uppercase;
  font-family: $page-font, "Tahoma", sans-serif;
  text-align: center;
}

.video__title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 33px;
}

.video__description {
  width: 270px;
  margin: 0 auto;
  padding: 0;
  padding-top: 27px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

.vileo__player {
  position: relative;
  margin-top: 34px;
  width: 100%;
  min-height: 201px;
  background-color: #92acbd;
  background-image: url("../img/video-mobile@1x.jpg");
}

.video__control--play {
  position: absolute;
  content: "";
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 20px;

  &::before {
    position: absolute;
    content: "";
    width: 235px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 20px;
    left: 22px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 17px;
    left: 58px;
  }
}

.video__control--diff {
  position: absolute;
  width: 280px;
  height: 66px;
  background-color: rgba(0, 0, 0, 0.05);
  bottom: -66px;
  left: 20px;
  background-image: url("../img/icon-video-replay.svg"),
    url("../img/icon-video-subtitles.svg"),
    url("../img/icon-video-fullscreen.svg");
  background-position: 25px 22px, 174px 23px, 237px 23px;
  background-repeat: no-repeat;
}
