@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans"), url("../fonts/ptsans.woff") format("woff"),
  url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ptsansbold.woff") format("woff"),
  url("../fonts/ptsansbold.woff2") format("woff2");
}
