html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}
